

body{
font-family: 'Source Sans Pro', sans-serif;
font-weight: 300;
  color: $gray-dk;
}

p {
  font-size: rem-calc(15);
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased;
}

