// ----------------------------------------------------------------------
  // Color Palette
// ----------------------------------------------------------------------
$white:      #FFFFFF;
$black:      #212123;
$black-dk:   #111112;
$tan:            #fafaf8;

$gray:       #9B9F9F;
$grayer: #646464;
$gray-dk:    #424242;
$gray-lt:    #eceff2;
$gray-xlt:  #f7f7f7;

$red:        #c9172c;
$green:      #009d7e;
$yellow:     #ff9e00;
$turq:       #1686b0;
$blue-lt:    #54abee;
$blue-dk:    #0d4063;




// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1200;
$breakpoint-sm:  500px !default;
$breakpoint-med: 1073px !default;
$breakpoint-lg:  1200px !default;
$breakpoint-xlg: 1600px !default;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 16;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;
$OpenSans: 'Open Sans', sans-serif;

$font-light : 'ProximaNova-Light', sans-serif;
$font-semi  : 'ProximaNova-Semibold', sans-serif;
$font-bold  : 'ProximaNova-Extrabld', sans-serif;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

// ----------------------------------------------------------------------
  // Forms
// ----------------------------------------------------------------------


