
.signup-div {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-image: url('http://i.imgur.com/ncF41VA.jpg');
    background-size: cover;
    min-height: 100%;
    min-width: 900px;
    padding: 125px 0px 0px 600px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
 
}
.signup-p {
    font-family: 'Roboto', sans-serif;
    font-size: 24;
}
.modal-container {
  position: relative;
  margin: 0 auto;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
  margin: 0 auto;
}
.modal-signup {
  position: relative;
  margin-top: 300px;
}
