
.signup-div {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-image: url('http://i.imgur.com/ncF41VA.jpg');
    min-height: 100%;
    min-width: 900px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
 
}

