

.list-card{
	position: relative;
	padding: 0 0 1rem 0;
	background-color: $white;
	margin-bottom: 1rem;
	h2{
		line-height: 1;
		padding: .5rem 1rem;
		margin-bottom: 0;
		span{
			display: inline-block;
			height: 40px;
			width: 40px;
			border-radius: 50%;
			background-color: $blue-dk;
			margin-right: .25rem;
			color: $white;
			text-align: center;
			line-height: 40px;
		}
	}
}//list-card

.card-photo{
	position: relative;
	height: 200px;
	width: 100%;
	background-size: cover;
	background-position: center center;
	.overlay{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0 ; left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		background-color: rgba($black, 0.8);
		color: $white;
		font-style: italic;
		opacity: 0;
		transition: all .3s ease;
	}
	&:hover{
		.overlay{
			opacity: 1;
		}
	}
}

.card-symbols{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px dashed $gray-lt;
}

.addy{
	padding: .5rem 1rem;
	span{
		display: block;
	}
}