.home-hero{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.home-cols{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-col{
  width: 400px;
  h1{
    color: $gray-xlt;
    font-size: 3rem;;
  }
}
.right-col{
  width:400px;
}