.hero, h1{
  color: white;
  font-size: 1.7em;
  padding-top: .01%;

  //margin-top: 2%;
}
h1 {
  font-size: 4em;
  margin: 3%;
}

.rangeslider{
  margin:20px 0;
  position:relative;
  background:#e6e6e6;
}

.rangeslider .rangeslider__fill,.rangeslider .rangeslider__handle{
  position:relative;
}

.rangeslider,.rangeslider .rangeslider__fill{
  display:block;
  box-shadow:inset 0 1px 3px rgba(0,0,0,.3)
}

.rangeslider .rangeslider__handle{
  background:#fff;
  border:1px solid #ccc;
  cursor:pointer;
  display:inline-block;
  position: absolute;

}

.rangeslider .rangeslider__handle:active{
  background:#999;
}

.rangeslider-horizontal{
  height:20px;
  border-radius:10px;
  width: 50%;
  display: inline-block;
}

.rangeslider-horizontal .rangeslider__fill{
  height:100%;
  background:#27ae60;
  border-radius:10px;
  top:0;
}

.rangeslider-horizontal .rangeslider__handle{
  width:40px;
  height:40px;
  border-radius:40px;
  top:-10px;
  text-align: center;
}

.rangeslider-vertical{
  margin:20px auto;
  height:150px;
  max-width:10px;
  background:none
}
//
// .rangeslider-vertical .rangeslider__fill{
//   width:100%;
//   background:#27ae60;
//   box-shadow:none;
//   bottom:0
// }
//
// .rangeslider-vertical .rangeslider__handle{
//   width:30px;
//   height:10px;
//   left:-10px
// }

.rangeslider-vertical .rangeslider__handle:active{
  box-shadow:none
}

@media screen and (min-width:1200px){
  #mount{width:600px}
}

.center {
  text-align: center;
  font-weight: bold;
}

.formInput {
  font-size: 1.1em;
  height: 30px;
  width: 30%;
  //line-height: 50px;
  display: inline-block;
  margin: .3rem;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: rgba(33, 33, 35, 0.3);
  color: white;
  text-align: center;

}

.center, h1 {
  font-weight: bold;
}

.hero {
  background-image: url("http://cdn-jpg.thedailymeal.net/sites/default/files/drinking_CROP.jpg");
  //background-color: blue;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  //height: 800px;
  //width: 100% !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: block;

}
//
input, .formInput{
  font-size: .8em;
}

#btn-round2 {
  font-size: 1.1em;
  width: 30%;
  //height: 50px;
  line-height: 40px;
  display: inline-block;
  margin: 1rem;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  background-color: rgba(33, 33, 35, 0.3);
  color: #FFFFFF;
  text-align: center; }
  #btn-round2:hover {
    background-color: rgba(33, 33, 35, 0.8);
  }

.hidden {
  color: red;
  font-weight: bold;
}

.description, h4 {

  margin: 2%;
}
