
.pin {
position: relative;
  height: auto;
  width: 50px;
  >img{
  	max-width: 100%;
  	float: none;
  	    padding-bottom: 0;
  	    margin: 0;
  }
  .key{
  	    height: 24px;
  	    width: 24px;
  	    position: absolute;
  	    top: 9px;
  	    left: 13px;
  	    background-color: $white;
  	    border-radius: 50%;
  	    span{
  	    	position: absolute;
  	    	top: 3px;
  	    	left: 50%;
  	    	transform: translateX(-50%);
  	    	font-size: .95rem;
  	    	font-weight: 400;
  	    }
  	 }
}