

.list-card{
	position: relative;
	padding: 0 0 1rem 0;
	background-color: $white;
	margin-bottom: 1rem;
	h2{
		line-height: 1;
		padding: .5rem 1rem;
		span{
			display: inline-block;
			height: 40px;
			width: 40px;
			border-radius: 50%;
			background-color: $black;
			color: $white;
			text-align: center;
			line-height: 40px;
		}
	}
}

.card-photo{
	height: 200px;
	width: 100%;
	background-size: cover;
	background-position: center center;
}

.addy{
	padding: .5rem 1rem;
	span{
		display: block;
	}
}