*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-rendering: geometricPrecision; }

a {
  transition: all .3s ease;
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

a:hover {
  cursor: pointer; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

dd {
  -webkit-margin-start: 0; }

p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.3125rem 0rem; }

a {
  text-decoration: none; }

hr {
  box-sizing: content-box;
  height: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: normal;
  text-rendering: geometricPrecision; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  outline: none; }

img {
  max-width: 100%; }

::-webkit-scrollbar {
  opacity: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #424242; }

p {
  font-size: 0.9375rem;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased; }

body {
  width: 100%;
  height: 100vh; }

#root {
  height: 100vh;
  width: 100%; }

.full-screen {
  height: 100vh;
  width: 100%; }

.btn-select {
  width: 125px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #0d4063;
  color: #FFFFFF;
  font-size: .8rem;
  font-weight: 300; }
  .btn-select.is-selected {
    background-color: #009d7e; }

.btn-round {
  width: 250px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  margin: 1rem;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  background-color: rgba(33, 33, 35, 0.3);
  color: #FFFFFF;
  text-align: center; }
  .btn-round:hover {
    background-color: rgba(33, 33, 35, 0.8); }

.btn-submit {
  width: 100%;
  height: 60px;
  line-height: 52px;
  margin-top: 2.2rem;
  border: 3px solid #646464;
  background-color: transparent;
  color: #646464;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  transition: all .3s ease; }
  .btn-submit:hover {
    background-color: #1686b0;
    border-color: #1686b0;
    color: #FFFFFF; }

aside {
  position: fixed;
  top: 70px;
  left: 10px;
  height: 100vh;
  width: 400px;
  background-color: transparent;
  z-index: 1;
  overflow-y: auto; }

.map-header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 10rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10; }

.step {
  font-size: 1.5rem;
  margin-right: 2rem; }

.pin {
  height: auto;
  width: 40px; }
  .pin > img {
    max-width: 100%;
    float: none;
    padding-bottom: 0;
    margin: 0; }

.list-card {
  position: relative;
  padding: 0 0 1rem 0;
  background-color: #FFFFFF;
  margin-bottom: 1rem; }
  .list-card h2 {
    line-height: 1;
    padding: .5rem 1rem;
    margin-bottom: 0; }
    .list-card h2 span {
      display: inline-block;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #212123;
      color: #FFFFFF;
      text-align: center;
      line-height: 40px; }

.card-photo {
  position: relative;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center center; }
  .card-photo .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(33, 33, 35, 0.8);
    color: #FFFFFF;
    font-style: italic;
    opacity: 0;
    transition: all .3s ease; }
  .card-photo:hover .overlay {
    opacity: 1; }

.addy {
  padding: .5rem 1rem; }
  .addy span {
    display: block; }

.mapForm {
  float: left;
  position: relative;
  margin-top: 30px;
  margin-left: 850px;
  border-left-style: solid;
  border-width: 2px;
  padding-left: 120pt;
  padding-bottom: 20pt; }

.selections {
  position: absolute;
  margin-top: 75px;
  margin-left: 100px;
  width: 580px; }

img {
  float: left;
  padding-bottom: 20pt;
  margin-right: 30px; }

.location {
  text-align: left;
  background-color: #E9E8DC;
  padding-top: 60pt;
  padding-bottom: 23pt;
  margin-bottom: 50px; }

.restaurantName {
  font-size: 20pt; }

.selectionH {
  color: #FFFFCC;
  background-color: #404040;
  padding-right: 20pt;
  padding-left: 10pt;
  text-align: left;
  margin-bottom: -5px;
  padding-top: 4pt;
  padding-bottom: 7pt;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.header1 {
  background-color: #F56B66;
  margin-right: -30px;
  padding-left: 110px;
  padding-top: 10pt;
  padding-bottom: 10pt; }

.header3 {
  margin-top: 50px;
  font-size: 17pt; }

.subhead {
  margin-top: 5px;
  margin-bottom: 20px; }

.step3 {
  background-image: url("http://erratique.ch/software/vg/doc/doc-gray-circle.png");
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 8px;
  margin-bottom: -20px;
  text-align: center;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  color: white; }

.address {
  margin-top: 15px;
  margin-bottom: 15px; }

iframe {
  margin-top: 5px;
  margin-left: 40px; }

.twilioForm {
  margin-top: 30px; }

.twilioInput {
  height: 25px;
  width: 250px;
  padding: 12px 20px;
  margin-bottom: 10px; }

.twilioButton {
  background-color: #95DFFA;
  margin-left: 240px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

.example-enter {
  opacity: 0.01; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.example-leave {
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 33, 35, 0);
  opacity: 0;
  transition: all .3s ease; }
  .loader p {
    color: #212123;
    font-size: 1.25rem;
    margin-bottom: 2rem; }
  .loader img {
    width: 200px; }
  .loader.is-loading {
    position: fixed;
    background-color: rgba(22, 134, 176, 0.8);
    opacity: 1;
    z-index: 100; }

.hero, h1 {
  color: white;
  font-size: 1.7em;
  padding-top: .01%; }

h1 {
  font-size: 4em;
  margin: 3%; }

.rangeslider {
  margin: 20px 0;
  position: relative;
  background: #e6e6e6; }

.rangeslider .rangeslider__fill, .rangeslider .rangeslider__handle {
  position: relative; }

.rangeslider, .rangeslider .rangeslider__fill {
  display: block;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }

.rangeslider .rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute; }

.rangeslider .rangeslider__handle:active {
  background: #999; }

.rangeslider-horizontal {
  height: 20px;
  border-radius: 10px;
  width: 50%;
  display: inline-block; }

.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background: #27ae60;
  border-radius: 10px;
  top: 0; }

.rangeslider-horizontal .rangeslider__handle {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  top: -10px;
  text-align: center; }

.rangeslider-vertical {
  margin: 20px auto;
  height: 150px;
  max-width: 10px;
  background: none; }

.rangeslider-vertical .rangeslider__handle:active {
  box-shadow: none; }

@media screen and (min-width: 1200px) {
  #mount {
    width: 600px; } }

.center {
  text-align: center;
  font-weight: bold; }

.formInput {
  font-size: 1.1em;
  height: 30px;
  width: 30%;
  display: inline-block;
  margin: .3rem;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: rgba(33, 33, 35, 0.3);
  color: white;
  text-align: center; }

.center, h1 {
  font-weight: bold; }

.hero {
  background-image: url("http://cdn-jpg.thedailymeal.net/sites/default/files/drinking_CROP.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: block; }

input, .formInput {
  font-size: .8em; }

#btn-round2 {
  font-size: 1.1em;
  width: 30%;
  line-height: 40px;
  display: inline-block;
  margin: 1rem;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  background-color: rgba(33, 33, 35, 0.3);
  color: #FFFFFF;
  text-align: center; }

#btn-round2:hover {
  background-color: rgba(33, 33, 35, 0.8); }

.hidden {
  color: red;
  font-weight: bold; }

.description, h4 {
  margin: 2%; }
