*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-rendering: geometricPrecision; }

a {
  transition: all .3s ease;
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

a:hover {
  cursor: pointer; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

dd {
  -webkit-margin-start: 0; }

p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.3125rem 0rem; }

a {
  text-decoration: none; }

hr {
  box-sizing: content-box;
  height: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: normal;
  text-rendering: geometricPrecision; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  outline: none; }

img {
  max-width: 100%; }

body {
  background-image: url("/static/media/Hexagon-2.a931ef84.jpg"); }

::-webkit-scrollbar {
  opacity: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #424242; }

p {
  font-size: 0.9375rem;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased; }

body {
  width: 100%;
  height: 100vh; }

#root {
  height: 100vh;
  width: 100%; }

.full-screen {
  height: 100vh;
  width: 100%; }

.btn-select {
  width: 125px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #009d7e;
  color: #FFFFFF;
  font-size: .8rem;
  font-weight: 300; }

.btn-round {
  width: 250px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  margin: 1rem;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  background-color: rgba(33, 33, 35, 0.3);
  color: #FFFFFF;
  text-align: center; }
  .btn-round:hover {
    background-color: rgba(33, 33, 35, 0.8); }

.btn-submit {
  width: 100%;
  height: 60px;
  line-height: 52px;
  margin-top: 2.2rem;
  border: 3px solid #646464;
  background-color: transparent;
  color: #646464;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  transition: all .3s ease; }
  .btn-submit:hover {
    background-color: #1686b0;
    border-color: #1686b0;
    color: #FFFFFF; }

aside {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 100vh;
  width: 400px;
  background-color: transparent;
  z-index: 1;
  overflow-y: auto; }

.pin {
  height: 30px;
  width: 30px; }

.list-card {
  position: relative;
  padding: 0 0 1rem 0;
  background-color: #FFFFFF;
  margin-bottom: 1rem; }
  .list-card h2 {
    line-height: 1;
    padding: .5rem 1rem; }
    .list-card h2 span {
      display: inline-block;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #212123;
      color: #FFFFFF;
      text-align: center;
      line-height: 40px; }

.card-photo {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center center; }

.addy {
  padding: .5rem 1rem; }
  .addy span {
    display: block; }

.center {
  text-align: center;
}
